<%= form_with(model: user_video, local: true) do |form| %>
  <% if user_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_video.errors.count, "error") %> prohibited this user_video from being saved:</h2>

      <ul>
      <% user_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %><br>
    <%= form.number_field :number %>

    <%= form.label :video_url %><br>
    <%= form.file_field :video_url, :accept => 'video/*' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
