<p id="notice"><%= notice %></p>

<h1>UsersVideos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_videos.each do |users_video| %>
      <tr>
        <td><%= link_to 'Show', users_video %></td>
        <td><%= link_to 'Edit', edit_users_video_path(users_video) %></td>
        <td><%= link_to 'Destroy', users_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New UsersVideo', new_users_video_path %>
